@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

$almost-black: #1e1e1e;
$almost-white: #efefef;
$dark: #111111;
$darkbrown: #4f2919;
$almost-orange: #b46538;
$lightbrown: #7a4c20;
