@use '../../assets/helper/helper' as *;

.cartModal {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Adjusted for right-side shadow */
  transform: translateX(100%); /* Start off-screen to the right */
  transition: transform 0.3s ease;
  z-index: 999999;
  font-family: Inika;
  font-weight: 400;
  margin: 0;

  &.slideIn {
    transform: translateX(0); /* Slide into view */
  }

  .closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  h3{
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;
    font-family: Licorice;
    font-size: 48px;
    font-weight: 400;
  }

  .cartStyle {
    padding: 20px;

    .productsInCart {
      margin-bottom: 15px;
    }
  }
}
