@use '../../assets/helper/helper' as *;

.productsStyle {
    h2 {
        font-family: Licorice;
        font-size: 80px;
        font-weight: 400;
        text-align: center;
        margin: 2rem 0;
    }

    .productsLayout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        margin: 0 3rem;

        figure {
            background-color: $almost-white;
            padding: 1rem 2rem;
            font-family: Inika;
            font-size: 24px;

            h4 {
                font-family: Licorice;
                font-size: 50px;
                font-weight: 400;
                margin: 1rem 0;
                text-align: center;
            }

            img {
                // width: 349px;
                width: 21.8rem;
                height: 21.9rem;
                // height: 349px;
                object-fit: cover;
                display: block;
                margin: auto;
            }
            button{
                font-family: Inika;
                width: 100%;
                padding: 1rem;
                margin: 0.75rem 0;
                background-color: $almost-white;
                color: $dark;
                border: solid 1px black;
                border-radius: 4px;
                font-size: 24px;
                cursor: pointer;
                transition: background-color 0.3s;
                

                &:hover {
                    background-color: $dark;
                    color: $almost-white;
                }
            }
        }
    }
}