@use '../../assets/helper/helper' as *;

.headerStyle{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url("/sunshine.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 30rem;
    border-bottom: solid 1rem $almost-black;
    h1{
        color: $almost-white;
        text-align: center;
        font-size: 128px;
        font-family: Licorice;
        font-weight: 400;
        padding: 3rem;
    }
}