@use '../../assets/helper/helper' as *;

.navStyle {
    display: flex;
    justify-content: end;
    background-color: $dark;
    .menuStyle{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li{
            padding: 1rem;
            list-style: none;
            a{
                color: $almost-white;
                text-decoration: none;
            }
        }
    }
}