@use '../../assets/helper/helper' as *;
.navStyle {
    display: flex;
    justify-content: end;
    background-color: $dark;
    height: 4rem;
    position: relative;
    

    .menuStyle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        li {
            padding: 1rem;
            list-style: none;
            z-index: 99999;
            cursor: pointer;

            a {
                color: $almost-white;
                text-decoration: none;
            }
        }
    }

    .logoStyle {
        position: absolute;
        left: 50%;
        top: -2rem;
        transform: translateX(-50%);
        background-color: $dark;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;

        img{
            padding-top: 3rem;
            filter: invert(1);
            width: 80px;
            display: block;
            margin: auto;
        }

        h1 {
            font-size: 35px;
            font-family: Licorice;
            text-align: center;
            position: absolute;
            top: 3rem;
            cursor: pointer;
            z-index: 9999;
            a {
                color: $almost-white;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}
