@use '../../assets/helper/helper' as *;


.loginStyle {
    border-bottom: solid 1rem $dark;
    .loginContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 400px;
        margin: auto;
        margin-top: 12rem;
        margin-bottom: 20rem;
        padding: 2rem;
        background-color: #fff;
        font-family: Inika;

        h2 {
            margin-bottom: 1.5rem;
            font-family: Licorice;
            font-size: 70px;
            font-weight: 400;
            text-align: center;
        }

        .loginForm {
            width: 100%;

            .inputGroup {
                margin-bottom: 1.5rem;

                label {
                    display: block;
                    margin-bottom: 0.5rem;
                    font-weight: 400;
                }

                input {
                    width: 100%;
                    padding: 1rem;
                    border: 1px solid $dark;
                    border-radius: 4px;

                    &:focus {
                        border-color: rgb(0, 0, 0);
                        outline: none;
                    }
                }
            }

            .buttonContainer {
                display: flex;
                gap: 1rem;

                .signUpButton {
                    width: 100%;
                    padding: 0.75rem;
                    background-color: white;
                    color: $dark;
                    border: solid 1px black;
                    border-radius: 4px;
                    font-size: 1.2rem;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: gray;
                    }
                }

                .submitButton {
                    width: 100%;
                    padding: 0.75rem;
                    background-color: $dark;
                    color: #fff;
                    border: none;
                    border-radius: 4px;
                    font-size: 1.2rem;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: gray;
                    }
                }
            }

        }
    }
}

@media only screen and (max-width: 760px) {}